<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.select :condition, [['New',5],['Complete in Box',4],['Boxed',3],['Loose + extras',2],['Loose',1]] %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.range_field :rating, :min=>1, :max=>5, :step=>1, :class=>"slide", :id=>"rating"%>
  </div>

  <div class="field">
    <%= form.label :completion %>
    <%= form.range_field :completion, :min=>0, :max=>100, :class=>"slide", :id=>"completion"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
